@use 'sass:math';

@function rem-calc($size) {
  @return (math.div($size, 16)) * 1rem;
}


// Font settings
$font-size-smaller:            rem-calc(12);
$font-size-small:            rem-calc(15);
$font-size-base:             rem-calc(16);
$font-size-medium:           rem-calc(20);

$heading-size-tiny:          rem-calc(25);
$heading-size-small:         rem-calc(28);
$heading-size-medium:        rem-calc(35);
$heading-size-big:           rem-calc(44);
$heading-size-bigger:        rem-calc(60);

$line-height-small:          1;
$line-height-base:           1.5;
$line-height-big:            2;

$font-weight-normal:         400;
$font-weight-bold:           600;
$font-weight-bolder:         800;
$font-weight-base:           $font-weight-normal;

// Size settings
$gutter-base:                rem-calc(30);

// Color settings
$text-color-primary:         #000;
$text-color-secondary:       #FFF;

$background-color-base:      #fcd232;
$background-color-primary:   #eb3b3b;
$background-color-secondary: #302f38;
$background-color-tertiary:  #ff1300;

